doctype html
html
  head
    title News Feed
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="newsFeed")
    nav(class="navbar navbar-inverse")
        div(class="navbar-header")
            a(href="#" class="navbar-brand") News Feed
    .container
        .row
            .jumbotron
                block content
  script(type="text/ng-template" id="/news.html")
    .col-md-12
        ul(class="collapsible", data-collapsible="accordion")
            li(ng-repeat="item in titleP")
                .collapsible-header #[img(ng-src="{{item.image}}", class="new-img")] {{item.title}}
                .collapsible-body #[p {{item.content}}]
  script(src="/javascripts/angular.min.js")
  script(src="/javascripts/angular-ui-router.min.js")
  script(src="/javascripts/main.js")